<launch>
	<include file="$(find vision)/launch/camera_onlaptop.launch"/>

	<arg name="display_result" default="false"/>

	<node pkg="vision" type="vision" name="vision" output="screen">
	
		<remap from="/camera_info" to="usb_cam/camera_info" />
		<remap from="/image" to="usb_cam/image_raw" />

		<rosparam command="load" file="$(find vision)/config/circle.yaml" />
		<rosparam command="load" file="$(find vision)/config/marker.yaml" />
		<rosparam command="load" file="$(find vision)/config/detection_mode.yaml" />

		<param name="camera_x_offset" type="double" value="0.175" />
		<param name="camera_y_offset" type="double" value="0" />
		<param name="camera_z_offset" type="double" value="0" />

		<param name="spin_rate" type="int" value="30" />
		<param name="detect_markers_only" type="bool" value="false"/>
		<param name="draw_result" type="bool" value="$(arg display_result)"/>
		<param name="image_is_rectified" type="bool" value="true"/>
		<param name="draw_markers" type="bool" value="true" />
		<param name="draw_markers_cube" type="bool" value="false" />
		<param name="draw_markers_axis" type="bool" value="true" />
	</node>

	<group if="$(arg display_result)">
		<node ns="/" pkg="image_view" type="image_view" name="vision_view" output="screen">
			<remap from="image" to="/vision/result" />

			<param name="autosize" type="bool" value="true" />
		</node>
	</group>

</launch>