<launch>

	<node pkg="guidance" type="guidanceNode" name="guidanceNode" output="screen" />
<!--
	<include file="$(find dji_sdk)/launch/sdk_manifold.launch"/>
-->

	<include file="$(find jet)/launch/cfg.launch"/>
	<include file="$(find vision)/launch/vision_manifold.launch"/>

	<node pkg="jet" type="jet" name="jet" output="screen">
	<param name="spin_rate"           type="int"    value="50"/>
	<param name="serial_port"         type="string" value="/dev/ttyTHS2"/>  
  	<param name="serial_baudrate"     type="int"    value="115200"/>

	<param name="vision_target_pos_filter_window_size"   type="int"    value="1"/>
	<param name="vision_target_pos_filter_variance_limit"   type="double"    value="1e-4"/>

	<param name="use_guidance"        type="bool"   value="true" />

	<remap from="/odom_raw" to="/guidance/odom" />
	
	</node>

</launch>

